###################################################################################################
### Folders
###################################################################################################

**/.stop___MAS
**/build
.gradle
.idea
bin
bak
project
res/docker
target

###################################################################################################
### Files
###################################################################################################

**/TODO
**/APDescription.txt
**/MTPs-Main-Container.txt

# latex files
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pdf
**/*.png
**/*.synctex.gz
**/*.toc
