###################################################################################################
### Folders
###################################################################################################

**/.stop___MAS
**/build
.gradle
.idea
bin
bak
project
res/docker
target

###################################################################################################
### Files
###################################################################################################

**/APDescription.txt
**/MTPs-Main-Container.txt

# latex files
*.aux
*.fbd_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc
